.ipynb_checkpoints
__pycache__

# ignore all subdirectories, except analysis, batch and hyperparameters
/*/ 

!/analysis/
!/data/
!/datasets/
!/hyperparameters/
!/models/
!/utils/

/datasets/*

!/datasets/*.ipynb
